/.idea
/__pycache__
/data/__pycache__
/dist
/stringcompare.egg-info

*.pyc
.vscode/c_cpp_properties.json

build/

*.so
.vscode/*

docs/_build/doctrees
docs/_build/latex
coverage.xml
.coverage

*.zip
*.log
.lock
.package.lock
*.eggs