/.idea
/__pycache__
/data/__pycache__
/dist
/stringcompare.egg-info

*.pyc
.vscode/c_cpp_properties.json

build/

*.so
.vscode/*

coverage.xml
.coverage

documentation/doctrees

*.zip
*.log
.lock
.package.lock
*.eggs